In [1]:
df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

NameError: name 'pd' is not defined

In [1]:
import pandas as pd

ModuleNotFoundError: No module named 'pandas'

In [2]:
pip install pandas

Collecting pandasNote: you may need to restart the kernel to use updated packages.

  Using cached pandas-2.0.1-cp39-cp39-win_amd64.whl (10.7 MB)
Requirement already satisfied: numpy>=1.20.3 in c:\users\personal\anaconda3\envs\notebook 615\lib\site-packages (from pandas) (1.24.3)
Collecting tzdata>=2022.1
  Downloading tzdata-2023.3-py2.py3-none-any.whl (341 kB)
     ---------------------------------------- 0.0/341.8 kB ? eta -:--:--
     --- ------------------------------------ 30.7/341.8 kB ? eta -:--:--
     --- ------------------------------------ 30.7/341.8 kB ? eta -:--:--
     --- ------------------------------------ 30.7/341.8 kB ? eta -:--:--
     --- ------------------------------------ 30.7/341.8 kB ? eta -:--:--
     --- ------------------------------------ 30.7/341.8 kB ? eta -:--:--
     --- ------------------------------------ 30.7/341.8 kB ? eta -:--:--
     ----------- ------------------------ 112.6/341.8 kB 344.8 kB/s eta 0:00:01
     ----------- ------------------------ 112.6/341.8 kB 344.8 kB/s eta 0:00:01
     ----------- ------------------------ 112.6/341.8 kB 344.8 kB/s eta 0:00:01
     ----------- ------------------------ 112.6/341.8 kB 344.8 kB/s eta 0:00:01
     ----------- ------------------------ 112.6/341.8 kB 344.8 kB/s eta 0:00:01
     ----------- ------------------------ 112.6/341.8 kB 344.8 kB/s eta 0:00:01
     ------------ ----------------------- 122.9/341.8 kB 189.6 kB/s eta 0:00:02
     ------------------------- ---------- 245.8/341.8 kB 376.8 kB/s eta 0:00:01
     ------------------------- ---------- 245.8/341.8 kB 376.8 kB/s eta 0:00:01
     ------------------------- ---------- 245.8/341.8 kB 376.8 kB/s eta 0:00:01
     ----------------------------- ------ 276.5/341.8 kB 347.6 kB/s eta 0:00:01
     -------------------------------- --- 307.2/341.8 kB 365.3 kB/s eta 0:00:01
     ------------------------------------ 341.8/341.8 kB 372.2 kB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\personal\anaconda3\envs\notebook 615\lib\site-packages (from pandas) (2.8.2)
Collecting pytz>=2020.1
  Downloading pytz-2023.3-py2.py3-none-any.whl (502 kB)
     ---------------------------------------- 0.0/502.3 kB ? eta -:--:--
      --------------------------------------- 10.2/502.3 kB ? eta -:--:--
      --------------------------------------- 10.2/502.3 kB ? eta -:--:--
      --------------------------------------- 10.2/502.3 kB ? eta -:--:--
      --------------------------------------- 10.2/502.3 kB ? eta -:--:--
     -- ---------------------------------- 30.7/502.3 kB 100.9 kB/s eta 0:00:05
     -------------- --------------------- 204.8/502.3 kB 692.4 kB/s eta 0:00:01
     -------------- --------------------- 204.8/502.3 kB 692.4 kB/s eta 0:00:01
     ------------------- ---------------- 266.2/502.3 kB 682.7 kB/s eta 0:00:01
     --------------------- -------------- 297.0/502.3 kB 706.2 kB/s eta 0:00:01
     ---------------------- ------------- 317.4/502.3 kB 701.4 kB/s eta 0:00:01
     ----------------------- ------------ 327.7/502.3 kB 676.8 kB/s eta 0:00:01
     ---------------------------- ------- 399.4/502.3 kB 711.4 kB/s eta 0:00:01
     ------------------------------ ----- 430.1/502.3 kB 706.8 kB/s eta 0:00:01
     --------------------------------- -- 460.8/502.3 kB 686.8 kB/s eta 0:00:01
     --------------------------------- -- 460.8/502.3 kB 686.8 kB/s eta 0:00:01
     --------------------------------- -- 460.8/502.3 kB 686.8 kB/s eta 0:00:01
     ---------------------------------- - 481.3/502.3 kB 591.0 kB/s eta 0:00:01
     ------------------------------------ 502.3/502.3 kB 583.1 kB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\personal\anaconda3\envs\notebook 615\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Installing collected packages: pytz, tzdata, pandas
Successfully installed pandas-2.0.1 pytz-2023.3 tzdata-2023.3

In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("\Users\personaL\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: truncated \UXXXXXXXX escape (1924420958.py, line 1)

In [5]:
df = pd.read_csv("\Users\personaL\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 0-1: truncated \UXXXXXXXX escape (1154708170.py, line 1)

In [6]:
df = pd.read_csv("C:\Users\personaL\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (4263491034.py, line 1)

In [7]:
df = pd.read_csv("C:\Users\personaL\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv",encoding = "latin-1")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (2920970089.py, line 1)

In [8]:
df = pd.read_csv("C:\Users\personaL\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv")

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (647178147.py, line 1)

In [9]:
df = pd.read_csv(r"C:\Users\personaL\Downloads\FoodBalanceSheets_E_Africa_NOFLAG.csv", encoding = "latin-1")

In [10]:
print df

SyntaxError: Missing parentheses in call to 'print'. Did you mean print(df)? (4292382329.py, line 1)

In [11]:
print(df)

       Area Code      Area  Item Code           Item  Element Code
0              4   Algeria       2501     Population           511  \
1              4   Algeria       2501     Population          5301
2              4   Algeria       2901    Grand Total           664
3              4   Algeria       2901    Grand Total           674
4              4   Algeria       2901    Grand Total           684
...          ...       ...        ...            ...           ...
60938        181  Zimbabwe       2899  Miscellaneous          5142
60939        181  Zimbabwe       2899  Miscellaneous           645
60940        181  Zimbabwe       2899  Miscellaneous           664
60941        181  Zimbabwe       2899  Miscellaneous           674
60942        181  Zimbabwe       2899  Miscellaneous           684

                                      Element             Unit     Y2014
0               Total Population - Both sexes     1000 persons  38924.00  \
1                    Domestic supply quantity      1000 tonnes      0.00
2               Food supply (kcal/capita/day)  kcal/capita/day   3377.00
3      Protein supply quantity (g/capita/day)     g/capita/day     94.90
4          Fat supply quantity (g/capita/day)     g/capita/day     80.06
...                                       ...              ...       ...
60938                                    Food      1000 tonnes     42.00
60939     Food supply quantity (kg/capita/yr)               kg      3.06
60940           Food supply (kcal/capita/day)  kcal/capita/day      3.00
60941  Protein supply quantity (g/capita/day)     g/capita/day      0.10
60942      Fat supply quantity (g/capita/day)     g/capita/day      0.04

          Y2015     Y2016     Y2017     Y2018
0      39728.00  40551.00  41389.00  42228.00
1          0.00      0.00      0.00      0.00
2       3379.00   3372.00   3341.00   3322.00
3         94.35     94.72     92.82     91.83
4         79.36     77.40     80.19     77.28
...         ...       ...       ...       ...
60938     46.00     33.00     19.00     16.00
60939      3.33      2.35      1.33      1.08
60940      4.00      3.00      1.00      1.00
60941      0.11      0.08      0.04      0.04
60942      0.05      0.03      0.02      0.01

[60943 rows x 12 columns]

In [12]:
df['Y2017'].sum() = 8375729.189999999
df.describe() =

8375729.189999999

In [13]:
df['Y2017'].sum() = 8375729.189999999
df.describe() =

SyntaxError: cannot assign to function call (194365028.py, line 1)

In [14]:
df['Y2017'].sum() = 8375729.189999999
df.describe()

SyntaxError: cannot assign to function call (3914139186.py, line 1)

In [15]:
df['Y2017'].sum().describe()

AttributeError: 'numpy.float64' object has no attribute 'describe'

In [16]:
df['Y2017'].sum()
df.describe()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
count,60943.000000,60943.000000,60943.000000,59354.000000,59395.000000,59408.000000,59437.000000,59507.000000
mean,134.265576,2687.176706,3814.856456,134.196282,135.235966,136.555222,140.917765,143.758381
std,72.605709,146.055739,2212.007033,1567.663696,1603.403984,1640.007194,1671.862359,1710.782658
min,4.000000,2501.000000,511.000000,-1796.000000,-3161.000000,-3225.000000,-1582.000000,-3396.000000
25%,74.000000,2562.000000,684.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,136.000000,2630.000000,5142.000000,0.090000,0.080000,0.080000,0.100000,0.070000
75%,195.000000,2775.000000,5511.000000,8.340000,8.460000,8.430000,9.000000,9.000000
max,276.000000,2961.000000,5911.000000,176405.000000,181137.000000,185960.000000,190873.000000,195875.000000

In [17]:
df.groupby('Element')['Element'].countt()

AttributeError: 'SeriesGroupBy' object has no attribute 'countt'

In [18]:
df.groupby('Element')['Element'].count()

Element
Domestic supply quantity                  5295
Export Quantity                           4403
Fat supply quantity (g/capita/day)        5023
Feed                                      1319
Food                                      4941
Food supply (kcal/capita/day)             5014
Food supply quantity (kg/capita/yr)       4905
Import Quantity                           5139
Losses                                    2009
Other uses (non-food)                     1732
Processing                                2010
Production                                3881
Protein supply quantity (g/capita/day)    5023
Residuals                                 4655
Seed                                       762
Stock Variation                           4232
Total Population - Both sexes               45
Tourist consumption                        555
Name: Element, dtype: int64

In [19]:
df.groupby('Element','Y2014')['Element','Y2014'].countt()

ValueError: No axis named Y2014 for object type DataFrame

In [20]:
df.isnull('Y2014')

TypeError: isnull() takes 1 positional argument but 2 were given

In [21]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [23]:
df.groupby('Area')('Y2017')['Area'].count()

TypeError: 'DataFrameGroupBy' object is not callable

In [24]:
df.groupby('Area')('Y2017')['Y2017'].count()

TypeError: 'DataFrameGroupBy' object is not callable

In [25]:
df.groupby('Y2017')['Y2017'].sum()

Y2017
-1582.0       -3164.0
-1200.0       -1200.0
-1159.0       -1159.0
-865.0         -865.0
-860.0         -860.0
               ...
 96443.0      96443.0
 106400.0    106400.0
 112625.0    112625.0
 117702.0    117702.0
 190873.0    190873.0
Name: Y2017, Length: 4537, dtype: float64

In [26]:
df.groupby('Area')('Y2017')['Area'].sum()

TypeError: 'DataFrameGroupBy' object is not callable

In [27]:
df.count('Area')

ValueError: No axis named Area for object type DataFrame

In [28]:
df.sum('Y2017')

ValueError: No axis named Y2017 for object type DataFrame

In [29]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [30]:
print(df)
where Area = Madagascar

SyntaxError: invalid syntax (3621751221.py, line 2)

In [31]:
print(df)
while Area = 'Madagascar'

SyntaxError: invalid syntax (2305781845.py, line 2)

In [32]:
print(df)
while df('Area') = 'Madagascar'

SyntaxError: invalid syntax (613301456.py, line 2)

In [33]:
df.iloc[678]

Area Code                         4
Area                        Algeria
Item Code                      2611
Item            Oranges, Mandarines
Element Code                   5511
Element                  Production
Unit                    1000 tonnes
Y2014                        1183.0
Y2015                        1267.0
Y2016                        1127.0
Y2017                        1265.0
Y2018                        1397.0
Name: 678, dtype: object

In [34]:
df.iloc[5678]

Area Code                      233
Area                  Burkina Faso
Item Code                     2909
Item            Sugar & Sweeteners
Element Code                  5142
Element                       Food
Unit                   1000 tonnes
Y2014                        152.0
Y2015                        161.0
Y2016                        173.0
Y2017                        188.0
Y2018                        200.0
Name: 5678, dtype: object

In [35]:
df.iloc
while Area = 'Madagascar'

SyntaxError: invalid syntax (215319302.py, line 2)

In [36]:
df.loc[:,'Area':'Y2017']

,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017
0,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00
1,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00
2,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00
3,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82
4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19
...,...,...,...,...,...,...,...,...,...,...
60938,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00
60939,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33
60940,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00
60941,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04
60942,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02

In [37]:
df2 = df[['Area', 'Y2017']]

In [38]:
Print(df2)

NameError: name 'Print' is not defined

In [39]:
df2 = df[['Area', 'Y2017']]
Print(df2)

NameError: name 'Print' is not defined

In [40]:
df2 = df[['Area', 'Y2017']]
print(df2)

           Area     Y2017
0       Algeria  41389.00
1       Algeria      0.00
2       Algeria   3341.00
3       Algeria     92.82
4       Algeria     80.19
...         ...       ...
60938  Zimbabwe     19.00
60939  Zimbabwe      1.33
60940  Zimbabwe      1.00
60941  Zimbabwe      0.04
60942  Zimbabwe      0.02

[60943 rows x 2 columns]

In [41]:
df2 = df[['Area', 'Y2017']].max('Y2017')

ValueError: No axis named Y2017 for object type DataFrame

In [43]:
df2 = df[['Area', 'Y2017']]
print(df2.format(max('Y2017')))

AttributeError: 'DataFrame' object has no attribute 'format'

In [44]:
df2 = df[['Area', 'Y2017']]
df2.groupby('Y2017')['Y2017'].sum()

Y2017
-1582.0       -3164.0
-1200.0       -1200.0
-1159.0       -1159.0
-865.0         -865.0
-860.0         -860.0
               ...
 96443.0      96443.0
 106400.0    106400.0
 112625.0    112625.0
 117702.0    117702.0
 190873.0    190873.0
Name: Y2017, Length: 4537, dtype: float64

In [46]:
df2 = df[['Area', 'Y2017']]
df2.groupby('Area')['Y2017'].max()

Area
Algeria                         41389.00
Angola                          29817.00
Benin                           11175.00
Botswana                         2341.00
Burkina Faso                    19193.00
Cabo Verde                       2530.00
Cameroon                        24566.00
Central African Republic         4596.00
Chad                            15017.00
Comoros                            16.65
Congo                            5111.00
Côte d'Ivoire                   24437.00
Djibouti                         2664.00
Egypt                           96443.00
Eswatini                         5553.00
Ethiopia                       106400.00
Ethiopia PDR                        0.00
Gabon                            2640.00
Gambia                           2544.00
Ghana                           29121.00
Guinea                          12068.00
Guinea-Bissau                    2233.00
Kenya                           50221.00
Lesotho                          2475.00
Liberia                          4702.00
Madagascar                      25571.00
Malawi                          17670.00
Mali                            18512.00
Mauritania                      51864.00
Mauritius                        3713.00
Morocco                         38348.00
Mozambique                      28649.00
Namibia                          2465.00
Niger                           21602.00
Nigeria                        190873.00
Rwanda                          11981.00
Sao Tome and Principe            2407.00
Senegal                         15419.00
Seychelles                        204.02
Sierra Leone                     7488.00
South Africa                    57010.00
Sudan                           40813.00
Sudan (former)                      0.00
Togo                             7698.00
Tunisia                         11433.00
Uganda                          41167.00
United Republic of Tanzania     54660.00
Zambia                          16854.00
Zimbabwe                        14237.00
Name: Y2017, dtype: float64

In [47]:
df.count('Area')

ValueError: No axis named Area for object type DataFrame

In [48]:
df.count()[0]

60943

In [49]:
df.duplicated().count()[0]

IndexError: invalid index to scalar variable.

In [51]:
df.duplicated()[0]

False

In [52]:
df.duplicated(keep=False).value_counts()

False    60943
Name: count, dtype: int64

In [53]:
df.shape()

TypeError: 'tuple' object is not callable